/**** SETUP ****/

html, body, img{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*{
  font-family:  'Anton', sans-serif;
  z-index: 1;
}
/**** NAV ****/




/**** LANDING PAGE ****/

#moto{
  margin: 0;
  padding: 0 2.5%;
  text-align: center;
  margin-top: 5%;
  font-family: 'Anton', sans-serif;
  font-size: 18px;
  margin: 0;
  color: black;
  margin-top: 2%;

}

.feat-icon img {
  height: 100px;
  width: 100px;
  margin: 30px;
  width: auto;
}

.feat-icon {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  margin: 10px 30px 30px;
}

 .iconss {
    height: 50px;
    width: 50px;
    margin: 10px;
  }

#background {

  width: 100%;
  min-height: 45%;
  background-image: url("./pictures/Orange_Texture_Backround-01.png");
  z-index: 1;
  margin: 0;
  padding: 15px 0px;
  padding-bottom: 0px;
  background-size: cover;
  
  


}

#main_l {
  font-size: 30px;
  margin-bottom: 0px;
}

secondary_l {
  font-size: 15px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    #background {
         background-image: url("/pictures/Orange_Texture_Backround-01.png");
         background-size: cover;
      height: 100%;
    }
}

@media only screen and (max-width: 350px) {
  #main_l {
    font-size: 25px;
  }
  #secondary_l {
  font-size: 15px;

}
}

#pics {
  width: 100%;
  margin-top: -10px;
  margin-left: 0%;
  padding: 5px 0px;
  background-color: black;
  z-index: 0;
  display: block;


}


#main_logo{
  top: 1%;
  left: 50%;
  height: 180px;
  width: 270px;
  margin-left: -135px;
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -5px;
  padding:  0px;

}

.section {
  text-align: center;
  padding: 20px 0px;
  position: relative;

}

.section-light{

  background-color: #f4f4f4; /*#6D8E61;*/
  color: black;
}

.section-cheese{
  background-image: url("./pictures/Orange_Texture_Backround-01.png");
  background-color: #d3d3d3;
  color: black;
}

.service_icon {
  height: 150px;
  width: 150px;

  
}

#drop_down {
  color: black;
}

#menu-head{
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 12px;
  letter-spacing: 2px;
  position: relative;
  font-family: 'Anton';
  background-color: rgba(0,0,0,0.3);
  padding-bottom: 0px;

}

#services-head {
  padding-bottom: 10px;
  text-align: center;

}

#contact-head{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;


  
}

#new_button {
  padding: 15px 40%;
}

.pic1, .pic2, .pic3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;


  z-index: 1;
 /* background-attachment: fixed;*/
}

.pic2 {
  color: black;
  min-height: 200px;

  background-image: url("./pictures/backg.jpg");
  background-size: contain;

  background-color: black;
  background-size: contain;
  background-repeat: repeat-y;
}

#pics1{
  display: none;
}

.call {
  margin: auto;
  position: relative;
  height: auto;
  width: 80%;
}

/**** MENU CARDS ****/

#custom_card {

  max-width: 230px;
  min-height:  300px;
  left: 50%;
  margin: 10px;
  margin-left: -117.5px;
  margin-right: 0px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.4);
  border: none;
  border-radius: none;
  color: white
}

#custom_body {

  padding-top: 0px;
}

#card-text-custom {
  color: white;
  text-align: center;
  font-family: 'Anton';
  font-weight: 100;
  padding-top: 15px;
}

#cover {
  background-color: rgba(0,0,0,0);
  position: relative;
  height 110%;
  width: 100%;
  padding: 20px;
}

#contact-section {
  border-bottom: 10px;
}

#card-body-custom {
  font-family: 'Anton';

}

#sec {
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  
}


/***  CONTACT US ***/

section #services {
  text-align: center;
  transform: translatez(0);
  margin: 0;
  padding: 0px;
}

section #services h2 {
  margin: 80px 0px 40px;
  background-color: black;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;

}


section #services li {
  width: 80px;
  height: 100px;
  display: inline-block;
  margin: 0px 10px;
  list-style: none;
}

section #services li div {
  width: 80px;
  height: 100px;
  padding: 0px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 100px;
  background-color: black;
  transition: all 0.5s ease;
}

section #services li a {
  color: #F9B733;
}

section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}

section #services li span {
  width: 80px;
  height: 20px;
  display: block;
  padding: 5px 0px;
  color: yellow;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

.credits a {
  display: block;
  text-align: center;
  color: yellow;
  text-decoration: none;
  font-size: 24px;
  margin-top: 50px;
  background-color: black;
  padding: 20px;
  max-width: 300px;
}

.services_pic {
  height: 150px;
  width: 200px;

  margin: 0px;
  margin-bottom: 20px;

  position: relative;
  border: solid black;
}

.menu_heading {
  margin-bottom: 20px;
}

#button_custom {
  
}

#collapseOne {
  background-image: url("./pictures/Orange_Texture_Backround-01.png");
    border-top: solid black 5px;
  border-bottom: solid black 5px;
}

#collapseTwo {
  background-image: url(/pictures/Orange_Texture_Backround-01.png);
    border-top: solid black 5px;
  border-bottom: solid black 5px;
}

#collapseThree {
  background-image: url(/pictures/Orange_Texture_Backround-01.png);
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

#hide {
    display: none;
  }

#cus_but {
    left: 50%;
    position: relative;
    margin-left: -69px;
    margin-bottom: 100px;
    margin-top: 0px;
  }

@media only screen and (max-width: 800px) {
#desktop_card{
  display: none;
}
  .wrapper {
  display: none;
}
  #icon{
    display: none;
  }
  #social {
    font-size: 20px;
    width: 300px;
    margin: 0;
    left: 50%;
    margin-left: -150px;
    position: relative;
    margin-bottom: 20px;
  }
  #email {
    margin: 0px;
    font-size: 18px;
    position: relative;
    left: 50%;
    width: 250px;
    margin-left: -90px;
    margin-top: -48px;
    margin-bottom: 30px;
    

  }
  #contact {
    width: 99%;

    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;


  }
  #cus_but {
    margin-top: 20px;
    margin-bottom: 0px;
    
  }
  #mail {
    left: 30px;
    position: relative;
  }
  #phone{
    margin-left: 75px;
  }
  #number {

    position: relative;
    margin-top: -54px;
    font-size: 25px;
    margin-left: -100px;
    width: 250px;
    left: 50%;
  }
  #background {
    height: 100%;
    background-size: cover;
  }
  #contact {
    width: 400px;
    left: 50%;
    margin-left: -200px;
    
  }
}
@media only screen and (min-width: 800px) {

  .card-deck{
    position: relative;
    margin-top: -80px;
  }
  
  #pics {
    height: 500px;
    width: 500px;
    border: none;
    left: 50%;
    position: relative;
    margin-left: -250px;
    border-top: none;
  }
  
  .call {
    display: none;
  }

  #background {
      width: 100%;
      height: 101%;
      background-image: url("/pictures/Orange_Texture_Backround-01.png");
      z-index: 1;
      margin: 0;
      padding: 15px 0px;
      background-size: cover;

      border-bottom: solid black 5px;


      background-size: 100% auto;
      background-repeat: no-repeat;
      
  }
  #contact-head {
    text-align: center;
  }
  #fix{
    display: none;
  }
  #services-head {
    text-align: center;

  }
  #pics {
    display: none;
  }
  #main_logo {
    margin: 0;
    margin-left: -200px;
    margin-right: 0px;
    height: 250px;
    width: 400px;
    position: relative;
    top: 0;
    left: 50%;
    right: 0;
  }
  #moto {
    margin-top: 0px;
    width: 100%;

  }
  #main_l {
    display: block;
    font-size: 40px;
    width: 100%;
  }
  #secondary_l {
    font-size: 23px;
    margin-top: 10px;
  }
  #pics1{
  width: 80%;
  height: 40%;
  display: inherit;
  }
  #main_unit{
    position: absolute;
    top: 50%;
    height: 500px;
    width: 600px;
    margin-top: -250px;
    padding-top: 25px;
    left: 50%;
    margin-left: -300px;
    background-color: rgba(0,0,0,0);
    padding: 20px;
    text-align: center;
  }
  /*
  .pic2{
    background-image: url("/pictures/back2.jpg");
    background-size: cover;
    height: 800px;
  }
  */
  #cover {
    background-color: rgba(0,0,0,0.5);
    position: relative;
    height: 100%;

    margin-bottom: -100px;
  }
  .ptext{
    padding: 0;
    margin: 0px;
  }
  .pic2{
    background-image: url(/pictures/this_one%20copy.jpg);
    background-attachment: fixed;
    height: 820px;
    background-size: cover;
    padding: 0px;
  }
  #mobile_cards {
    display: none;
  }
  
  #custom_card {

  max-width: 300px;
  height:  50px;
  left: 0%;

  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: none;
  color: white;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;



}
   #custom_card2 {

  max-width: 300px;
  height:  50px;
  left: 0%;

  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: none;
  color: white;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  padding-top: 40px;



}
  #desktop_card{
    width: 1000px;
    left: 50%;
    position: absolute;
    margin-left: -500px;
    
  }
  
  

  
  #custom_body {
    background-color: rgba(0,0,0,0);
  }

  .card-img-top {
    height: 250px;
  }
  
  #menu-head {
    width: 940px;
    left: 50%;
    margin-left: -470px;
    margin-bottom: 75px;
    background-color: transparent;
    font-size: 50px;
    padding-bottom: 30px;
    margin-top: 20px;
  
  }
  #accordionExample {
    width: 940px;
    left: 50%;
    position: relative;
    margin-left: -470px;
  }
  #icon {
    height: 60px;
    width: 60px;
    position: relative;
    left: 50%;
    margin-left: -30px;
    margin-top: 20px;
  }
  
  #cus_but {
    left: 50%;
    position: relative;
    margin-left: -69px;
    margin-bottom: 50px;
    margin-top: 480px;
  }
  
  #contact {
    width: 400px;
    position: relative;
    left: 50%;

    text-align: center;
    margin: 20px;
    margin-left: -200px;

  }
  .iconss {
    height: 50px;
    width: 50px;
    margin: 10px;
  }
  #info {
    margin: 30px;
    padding-left: 10px;
    text-align: center;
  }
  #number {
    font-size: 25px;
    margin-top: -56px;
    position: relative;
    margin-left: 0px;
    text-align: center;
  }
  #email {
    font-size: 20px;
    margin-top: -50px;
    position: relative;
    margin-left: 70px;
    
    
  }
  #accordionExample {
   #display: none; 
  }
  #cus_img {
    
    height: 200px;
    
  }
  .new {
    margin-top: 4000px;
  }
  #phone {
    margin-left: 30px
  }
  
  .pic3 {
  color: black;
  min-height: 400px;

  background-image: url("/pictures/this_one.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  opacity: 0.8;
  


  }
  #contact {
    width: 400px;
    position: relative;
    left: 50%;

    text-align: center;
    margin: 20px;
    margin-left: -200px;

}
  .wrapper{
    display: flex;
    justify-content: center;
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: black;
   /* height: 413px; */
   margin-bottom: 30px;
   border-top: black solid 5px;
   border-bottom: black solid 5px;
   margin-top: -60px;
   font-family: 'Lato';  
}

.left1{
   position: relative;
   float: left;
   left: 0.00%;
   width: 28%;
   background-color: #ccccff;
   height: 600px;
   border-bottom: solid black 5px;
    margin: 0px;
  padding: 0px;

}
.left2{
   position: relative;
   float: left;
   left: 0.00%;
   width: 28%;
   background-color: #ccccff;
   height: 600px;

   border-bottom: solid black 5px;
   margin: 0px;
  padding: 0px;

}
.left3{
   position: relative;
   float: left;
   left: 0.00%;
   width: 28%;
   background-color: #ccccff;
   height: 600px;

   border-bottom: solid black 5px;
  margin: 0px;
  padding: 0px;


}
.right{
 position: relative;
 float: right;
 right: 0.00%;
 width: 16%;
 background-color: #ccccff;
 max-height: 408px;
 border-bottom: solid black 5px;
 background-color: black;
 background-image: url("/pictures/texture-red-white-checkered-picnic-blanket-linen-tablecloth-40418153.jpg");
  color: transparent;

}
  .right:hover{
 position: relative;
 float: right;
 right: 0.00%;
 width: 16%;
 background-color: #ccccff;
 height: 408px;
 border-bottom: solid black 5px;
 background-color: black;
 opacity: 0.4;
 background-image: url("/pictures/texture-red-white-checkered-picnic-blanket-linen-tablecloth-40418153.jpg");
 color: black;
}

  #services-head {
    position: relative;
    z-index: 20;
    display: none;
  }
  
  #add{
    
  }
  .image {
  display: block;


  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.container:hover .overlay {
  opacity: 1;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

}


 

/*
     FILE ARCHIVED ON 02:07:07 Mar 19, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:12:01 Feb 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.071
  cdx.remote: 0.14
  esindex: 0.014
  LoadShardBlock: 268.082 (6)
  PetaboxLoader3.datanode: 133.772 (7)
  PetaboxLoader3.resolve: 123.293 (3)
  load_resource: 63.885
*/